.candies {
    display: flex;
    flex-direction: column;
}

.candy {
    background-color:rgb(134, 199, 106); 
    border: 1px dotted rgb(140, 176, 233);
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.candy_footer {
    display: flex;
    padding: 1rem 0 0 0;
    border-top: 2px dashed rgb(137, 25, 197);
    margin: 1rem 0 0 0;
    font-style: italic;
}


.btn_purchase {
    margin-left: auto;
    background-color:rgb(228, 104, 182)
}